.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // padding: 6rem;
  min-height: 100vh;

  .hero-text-container {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .hero-text {
      font-family: 'Rubik', sans-serif;
      font-weight: 800;
      font-size: 96px;
      padding-right: 30px;
      padding-left: 30px;

      &__name {
        color: transparent;
        font-style: italic;
        font-size: 110px;
        -webkit-text-stroke: 2px white;
      }
    }
  }

  .image-container {
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;

    .silhoutte {
      border-left: 2px solid white;
      max-height: 50vh;
      width: auto;
      // filter: drop-shadow(5px 0 0 var(--secondary-color))
      // drop-shadow(0 5px 0 var(--secondary-color))
      //   drop-shadow(-5px 0 0 var(--tertiary-color))
      //   drop-shadow(0 -5px 0 var(--tertiary-color));
    }
  }

  .scroll-container {
    position: fixed;
    bottom: 0;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__text {
      position: relative;
    }

    &__icon {
      position: absolute;
      bottom: -24px;
      animation: MoveUpDown 1s linear infinite;
    }
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 822;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes MoveUpDown {
  0%,
  100% {
    bottom: -24px;
  }
  50% {
    bottom: -48px;
  }
}

// TODO Rework this!!!!
@media (min-width: 0) {
  /* smartphones, iPhone, portrait 480x320 phones */
  .main {
    .hero-text-container {
      .hero-text {
        font-size: 40px;
        &__name {
          font-size: 46px;
        }
      }
    }
  }
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .main {
    .hero-text-container {
      .hero-text {
        font-size: 50px;
        &__name {
          font-size: 56px;
        }
      }
    }
  }
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .main {
    .hero-text-container {
      .hero-text {
        font-size: 60px;
        &__name {
          font-size: 68px;
        }
      }
    }
  }
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .main {
    .hero-text-container {
      .hero-text {
        font-size: 70px;
        &__name {
          font-size: 80px;
        }
      }
    }
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .main {
    .hero-text-container {
      .hero-text {
        font-size: 80px;
        &__name {
          font-size: 100px;
        }
      }
    }
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .main {
    .hero-text-container {
      .hero-text {
        font-size: 96px;
        &__name {
          font-size: 110px;
        }
      }
    }
  }
}
